/* headerType */
.header__inner {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    /* position: fixed;
    left: 0;
    top: 0;
    z-index: 1000; */
    background: rgba(246, 248, 253, 0.6);
    backdrop-filter: blur(10px);
}
.header__logo {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}
.header__menu {
    text-align: center;
    margin-bottom: 10px;
}
.header__menu li {
    display: inline-block;
}
.header__menu li a {
    padding: 10px 30px;
    transition: background-color 0.3s;
}
.header__menu li a:hover {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}
.header__menu ul li.active a {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}