.slider__inner {
    position: relative;
}
.slider__inner .circle {
    /* z-index: 1000; */
}
.slider__inner .circle .circle1 {
    position: absolute;
    left: 3%;
    top: 30%;
    z-index: 1000;
    width: 23px; 
    height: 23px; 
    border-radius: 50%; 
    background-color: #4857EC;
}
.slider__inner .circle .circle2 {
    position: absolute;
    left: 40%;
    top: 60%;
    z-index: 1000;
    width: 49px; 
    height: 49px; 
    border-radius: 50%; 
    background-color: #4857EC;
}
.slider__inner .circle .circle3 {
    position: absolute;
    left: 45%;
    top: 30%;
    z-index: 1000;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: #2FEFB1;
}
.slider__inner .circle .circle4 {
    position: absolute;
    left: 80%;
    top: 80%;
    z-index: 1000;
    width: 35px; 
    height: 35px; 
    border-radius: 50%; 
    background-color: #FF3344;
}
.slider__inner .circle .circle5 {
    position: absolute;
    left: 95%;
    top: 70%;
    z-index: 1000;
    width: 32px; 
    height: 32px; 
    border-radius: 50%; 
    background-color: #2FEFB1;
}
.slider__inner .circle .circle6 {
    position: absolute;
    left: 30%;
    top: 10%;
    z-index: 1000;
    width: 18px; 
    height: 18px; 
    border-radius: 50%; 
    background-color: #F7E36D;
}

.swiper-slide:first-child {
    background: url(../img/slider_bg01.jpg) no-repeat center;
}
.swiper-slide:nth-child(2) {
    background: url(../img/slider_bg02.jpg) no-repeat center;
}
.swiper-slide:nth-child(3) {
    background: url(../img/slider_bg03.jpg) no-repeat center;
}
.swiper-slide:nth-child(4) {
    background: url(../img/slider_bg04.jpg) no-repeat center;
}
.swiper-slide:last-child {
    background: url(../img/slider_bg05.jpg) no-repeat center;
}
.swiper-slide .desc {
    width: 1160px;
    height: 600px;
    margin: 0 auto;
    padding: 90px 20px;
    box-sizing: border-box;
}
.swiper-slide .desc h3 {
    font-size: 110px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.swiper-slide .desc p {
    font-size: 20px;
    font-weight: 400;
    color: #333;
    line-height: 1.35;
    margin-bottom: 130px;
}
.swiper-slide .desc .btn a {
    font-size: 16px;
    background-color: #000;
    color: #fff;
    padding: 11px 50px;
    display: inline-block;
}

.swiper-button-next, .swiper-button-prev {
    width: 30px !important;
    height: 56px !important;
    background-image: url(../img/slider_icon_black.svg);
}
.swiper-button-next {
    background-position: -50px 0;
}
.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}

.swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    background-image: url(../img/slider_icon.svg) !important;
    background-position: 0 -70px !important;
    background-color: transparent !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    background-position: -20px -70px !important;
    scale: 1.25;
}